<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:launchMode="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.tbd">

    <uses-sdk
        android:minSdkVersion="2"
        android:targetSdkVersion="16"
        tools:overrideLibrary="dmax.dialog" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.app.tbd.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.app.firefly.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:name="com.app.tbd.application.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/tbd_icon"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/MyCustomTheme"
        android:vmSafeMode="true"
        tools:replace="android:icon">

        <activity
            android:name="com.app.tbd.ui.Activity.Homepage.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.Aboutus.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.PushNotification.PushNotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.PushNotification.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BeaconV2.BoardingGateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.SlidePage.NearKioskActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BeaconV2.PushNotificationV1"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BeaconV2.ArriveEntranceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BeaconV2.BoardingGateActivityV2"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.ContactInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name="com.app.tbd.ui.Activity.HolidayShaker.HolidayShakerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/landingTheme">

        </activity>

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.SSR.BaggageActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.TravellerInfo.TravellerInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.Register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name="com.app.tbd.ui.Activity.Profile.Option.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name="com.app.tbd.ui.Activity.ForgotPassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>


        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.SearchFlightActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.FlightListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.PersonalDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.ManageFamilyAndFriend.ManageFriendAndFamilyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.ManageFamilyAndFriend.EditFamilyFriendsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.SeatSelectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.FlightSummaryActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.ItinenaryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.PaymentFlightActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.PaymentWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.MobileCheckIn.MobileCheckInActivity1"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.MobileCheckIn.MobileCheckInActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.app.tbd.ui.Activity.MobileCheckIn.MobileCheckInActivity3"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.MobileCheckIn.MobileCheckInActivity4"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.ManageFlight.MF_Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.ManageFlight.MF_ActionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.ManageFlight.MF_ChangeContactActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.ManageFlight.MF_EditPassengerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.ManageFlight.MF_ChangeFlightActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.ManageFlight.MF_SeatSelectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.ManageFlight.MF_SpecialServiceRequestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.ManageFlight.MF_SentItineraryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.UpdateProfile.UpdateProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.ManageFlight.CommitChangeActivity"
            android:screenOrientation="portrait" />

        <!-- Boarding PASS -->
        <activity
            android:name="com.app.tbd.ui.Activity.BoardingPass.BoardingPassActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.BoardingPass.BoardingPassDisplayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.GlobalPopup.PopupActivity"
            android:screenOrientation="portrait" />

        <!-- DEMO -->
        <activity
            android:name=".ui.Activity.Gate.CurrentGateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.tbd.ui.Activity.Beacon.BeaconRanging"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Activity.Beacon.RangingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.tbd.ui.Activity.Map.IndoorMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.tbd.ui.Activity.Sensor.SensorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.tbd.ui.Activity.Sensor.Compass"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.tbd.ui.Activity.GeoFencing.GenFencingActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.app.tbd.ui.Activity.GeoFencing.GeofenceTransitionReceiver$switchButtonListener" />

        <!-- LocalNotification -->

        <!-- ForceUpdate -->
        <activity
            android:name="com.app.tbd.ui.Activity.SplashScreen.ForceUpdateActivity"
            android:screenOrientation="portrait" />

        <!-- SPLASH SCREEN -->
        <activity
            android:name="com.app.tbd.ui.Activity.SplashScreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.tbd.ui.Activity.SplashScreen.OnBoarding.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/landingTheme">

        </activity>

        <activity
            android:name=".ui.Activity.SplashScreen.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/landingTheme">

        </activity>

        <activity
            android:name=".ui.Activity.Profile.BigPoint.BigPointBaseActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.Activity.Profile.BigPoint.TransactionHistoryActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.Activity.Profile.BigPoint.ExpiryDateActivity"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name="com.app.tbd.ui.Activity.Profile.ProfileActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.Activity.Profile.Option.OptionsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.Activity.Profile.UserProfile.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".ui.Activity.Profile.UserProfile.MyProfileActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.Checkout.PaymentMSOSActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.Checkout.PaymentActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.Checkout.CheckoutActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.app.tbd.ui.Activity.BookingFlight.TravellerInfo.TravellerInfoAddActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.app.tbd.ui.Activity.DragDrop.DragDropActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name="com.app.tbd.ui.Activity.SplashScreen.Pop2NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/landingTheme" />

        <activity
            android:name="com.app.tbd.ui.Activity.SplashScreen.TokenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/landingTheme" />

        <activity
            android:name="com.app.tbd.ui.Activity.PasswordExpired.ChangePasswordActivity"
            android:label="@string/title_activity_password_expired"
            android:screenOrientation="portrait" />

        <!--Add this-->
        <!-- <activity android:name="com.facebook.FacebookActivity"
             android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
             android:theme="@android:style/Theme.Translucent.NoTitleBar"
             android:label="@string/app_name" />-->

        <!--
          Optionally, register AnalyticsReceiver and AnalyticsService to support background
          dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.app.tbd.ui.Activity.GeoFencing.GeofenceTransitionReceiver"
            android:enabled="true"
            android:exported="false"></receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.app.firefly" />
            </intent-filter>
        </receiver>

        <service android:name="com.app.tbd.GCMIntentService" />


        <!-- <receiver android:name="com.fly.firefly.ui.activity.GeoFencing.GeofenceTransitionReceiver$switchButtonListener" />-->

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6f38953bcf07d7c4f8dd57baf34092f3e0c08720" />

        <activity
            android:name="com.app.tbd.ui.Activity.Terms.Terms"
            android:label="@string/title_activity_terms"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB0QRtXyjzYCW0PhkHnAkVr_pifTVuphKg" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>
